body {
	padding: 0px;
	color: #303030
}

a {
	color: black;
}

.container {
	font-size: 0;
}
/* used to remove the annoying white space between divs */

.container > div {
	font-size: 1rem;
}

/* RESPONSIVE DESIGN HERE, when screen is smaller this should show up and push header down
and should become a menu icon instead of menubuttons */
#navbar {
	width: 100%;
	height: 50px;
	background-color: white;
	position: fixed;
}

#header {
	background-color: white;
	height: 130px;
	position: relative;
	text-align: center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding-top: 25px;
	z-index: 1;
}

#header p {
	margin: 0px; /* MORE RESPONSIVE DESIGN REQUIRED FOR ROSE LOGO */
}

#header img {
	width: 5%;
}

.menubutts {
	width: 100%;
	background-color: white;
	display: inline-block;
	height: 50px;
}

#menubuttons {
	width: 100%;
	background-color: white;
	display: inline-block;
	height: 50px;
	z-index: 1; /* for some reason not showing up above navbar, check again later */
}

.menubutts ul {
	width: 800px; /* CHANGE THIS WITH RESPONSIVENESS, cannot have hard numbers */
	margin-left: auto;
	margin-right: auto;
}

.menubutts li {
	text-align: center;
	list-style-type: none;
	float: left;
	padding-left: 30px; /* CHANGE THIS WITH RESPONSIVENESS, cannot have hard numbers */
	padding-right: 30px;
}

#homepgpic {
	object-fit: cover;
	max-height: 600px;
}
/* make grayed out? */

#homepgbtn {
	padding: 15px 25px 15px 25px;
	position: absolute;
	left: 45%;
	top: 70%;
	border: solid white 1px;
	background-color: transparent;
	color: white;
	font-family: serif;
	font-style: italic;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#homepgbtn:hover {
	color: transparent;
	-webkit-background-clip: text;
	background-color: white;
}

#trendsarea {
	font-size: 0;
	padding: 40px;
}

#trendbanner {
	width: 100%;
	height: 50px;
	font-size: 1rem;
	font-style: italic;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#trendheadline {
	width: 75%;
	border-bottom: 1px solid black;
	text-align: center;
	margin: auto;
	height: 10px;
}

#trendheadline span {
	font-size: 20px;
	background-color: white;
	padding-top: 0px;
}

.trend {
	width: 33%;
	height: auto;
	background-color: white;
	display: inline-block;
	font-size: 1rem;
	padding: 15px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	overflow: hidden;
}

.trendpic:hover {

}
/* Do I want to use css to hover to put a film over the picture and show text
or do i want to use javascript where i switch out the picture that is showing
to one that is already grayed out and includes the text... will this option work
well with responsiveness? */

.bptext {
	line-height: 35px;
	background-color: #E0D5D7;
	color: #303030;
	padding: 50px;
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
/* HOW TO MAKE SURE THAT THE TEXT BOX MATCHES SIZE OF PICTURES ITS ASSOCIATED WITH?
probably need to change rem to vw or some responsive text type */

.bppic {
	width: 50%;
	height: auto;
	float: left;
	display: inline-block;
	line-height: 0;
}

.btn {
	background-color: transparent;
	border: none;
	font-style: italic;
	font-family: serif;
}

.btn:hover {
	text-decoration: underline;
}

#bp2text {
	background-color: #F3F3F3;
}

img {
	width: 100%;
}