body {
	padding: 0px;
}

a {
	color: black;
}

/* RESPONSIVE DESIGN HERE, when screen is smaller this should show up and push header down
and should become a menu icon instead of menubuttons */
#navbar {
	width: 100%;
	height: 50px;
	background-color: #E0D5D7;
	position: fixed;
}

#header {
	background-color: white;
	height: 150px;
	position: relative;
	text-align: center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding-top: 25px;
	z-index: 1;
}

#header p {
	margin: 0px; /* MORE RESPONSIVE DESIGN REQUIRED FOR ROSE LOGO */
}

#header img {
	width: 5%;
}

.menubutts {
	width: 100%;
	background-color: #E0D5D7;
	display: inline-block;
	height: 50px;
}

#menubuttons {
	width: 100%;
	background-color: #E0D5D7;
	display: inline-block;
	height: 50px;
	z-index: 1; /* for some reason not showing up above navbar, check again later */
}

.menubutts ul {
	width: 800px; /* CHANGE THIS WITH RESPONSIVENESS, cannot have hard numbers */
	margin-left: auto;
	margin-right: auto;
}

.menubutts li {
	text-align: center;
	list-style-type: none;
	float: left;
	padding-left: 30px; /* CHANGE THIS WITH RESPONSIVENESS, cannot have hard numbers */
	padding-right: 30px;
}

#homepgpic {

}
/* make grayed out? */

img {
	width: 100%;
}